# ETL Plan and Reasons
To manage the complexity and redundancy of the 6 original datasets, we applied an ETL process to transform them into 16 normalized tables adhering to the principles of 3NF. 

1. The ALL_Store dataset was split into the store and operating_costs tables to separate static store details (e.g., name, address) from dynamic financial data (e.g., expenses, dates). This normalization avoids redundancy, ensures data consistency, and supports efficient analysis by linking operational costs to stores via store_id.

2. The ALL_Products dataset was split into product, category, vendor, and product_vendor tables to normalize the data. The product table manages product-specific details like name, price, and description, while the category table organizes products by their categories for easier classification. The vendor table stores unique vendor details like names and contact information, and the product_vendor table captures the many-to-many relationship between products and vendors, including supply frequency. 

3. The All_Employee dataset was split into employee, employee_detail, and management tables. The employee table stores core employee details like name, position, ensuring each employee is uniquely identified. The employee_detail table focuses on job-specific attributes like salary, shift type, avoiding redundancy across records. The management table tracks hierarchical relationships, linking managers to their employees and associated stores, enabling clear representation of reporting structures and responsibilities.

4. The ALL_Product_stock dataset was transformed into the product_stock table to track inventory levels, linking products and stores via product_id and store_id for efficient stock management and analysis.

5. The ALL_Customer dataset was split into customer and loyalty_program tables to separate static customer information from dynamic program data. The customer table captures core details like name, contact information, and address, ensuring a single source of truth for customer profiles. The loyalty_program table focuses on program-specific data like membership start date, total points, and tier, which are tied to individual customers via customer_id. 

6. The All_Transactions dataset was split into customer_transactions, transaction_details, payment, and customer_feedback tables to normalize and organize transaction data. Customer_transactions records high-level details like customers, stores, and dates, while transaction_details tracks purchased products and quantities. Payment consolidates financial data like amounts and methods, and customer_feedback isolates ratings and comments for sentiment analysis.

# Create the Table Schemas for our relational database design

In [1]:
import psycopg2

# Database connection configuration
db_config = {
    "dbname": "5310_data",
    "user": "postgres",
    "password": "123",
    "host": "localhost",  
    "port": "5432"        
}

# SQL statements
create_tables_sql = """
-- 1. Employee Table
CREATE TABLE IF NOT EXISTS employee (
    employee_id VARCHAR(50) PRIMARY KEY,
    first_name VARCHAR(25) NOT NULL,
    last_name VARCHAR(25) NOT NULL,
    position VARCHAR(50) NOT NULL,
    date_hired DATE NOT NULL,
    address VARCHAR(255),
    contact_number VARCHAR(15),
    employment_status VARCHAR(20) NOT NULL
);

-- 2. Store Table
CREATE TABLE IF NOT EXISTS store (
    store_id VARCHAR(50) PRIMARY KEY,
    store_name VARCHAR(100),
    address VARCHAR(255),
    city VARCHAR(50),
    state VARCHAR(50),
    phone_number VARCHAR(15),
    email VARCHAR(100)
);

-- 3. Employee_Detail Table
CREATE TABLE IF NOT EXISTS employee_detail (
    employee_id VARCHAR(50) PRIMARY KEY,
    salary DECIMAL(10, 2),
    shift_type VARCHAR(20),
    store_id VARCHAR(50),
    FOREIGN KEY (employee_id) REFERENCES employee(employee_id) ON DELETE CASCADE,
    FOREIGN KEY (store_id) REFERENCES store(store_id) ON DELETE SET NULL
);

-- 4. Management Table
CREATE TABLE IF NOT EXISTS management (
    manager_id VARCHAR(10),
    managing VARCHAR(10),
    store_id VARCHAR(50),
    PRIMARY KEY (manager_id, managing),
    FOREIGN KEY (store_id) REFERENCES store(store_id)
);

-- 5. Customer Table
CREATE TABLE IF NOT EXISTS customer (
    customer_id VARCHAR(50) PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    email VARCHAR(100) UNIQUE NOT NULL,
    phone_number VARCHAR(15),
    date_of_birth DATE,
    address VARCHAR(255),
    city VARCHAR(100),
    state VARCHAR(50),
    zip_code VARCHAR(10)
);

-- 6. Loyalty_Program Table
CREATE TABLE IF NOT EXISTS loyalty_program (
    customer_id VARCHAR(50) PRIMARY KEY,
    membership_start_date DATE NOT NULL,
    total_points INT DEFAULT 0,
    membership_tier VARCHAR(50) CHECK (membership_tier IN ('Bronze', 'Silver', 'Gold')),
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id) ON DELETE CASCADE
);

-- 7. Product Table
CREATE TABLE IF NOT EXISTS product (
    product_id VARCHAR(50) PRIMARY KEY,
    category_id VARCHAR(50) NOT NULL,
    product_name VARCHAR(250) NOT NULL,
    unit_price DECIMAL(10, 2) NOT NULL,
    description TEXT
);


-- 8. Category Table
CREATE TABLE IF NOT EXISTS category (
    category_id VARCHAR(50) PRIMARY KEY,
    category_name VARCHAR(100) NOT NULL,
    FOREIGN KEY (category_id) REFERENCES category(category_id) ON DELETE SET NULL
);


-- 9. Product_Stock Table
CREATE TABLE IF NOT EXISTS product_stock (
    stock_id VARCHAR(50) PRIMARY KEY,
    store_id VARCHAR(50) NOT NULL,
    product_id VARCHAR(50) NOT NULL,
    quantity INT,
    last_stocked_date DATE,
    FOREIGN KEY (store_id) REFERENCES store(store_id) ON DELETE CASCADE,
    FOREIGN KEY (product_id) REFERENCES product(product_id) ON DELETE CASCADE
);

-- 10. Vendor Table
CREATE TABLE IF NOT EXISTS vendor (
    vendor_id VARCHAR(50) PRIMARY KEY,
    name VARCHAR(100),
    contact_info VARCHAR(255),
    address VARCHAR(255)
);

-- 11. Product_Vendor Table
CREATE TABLE IF NOT EXISTS product_vendor (
    product_id VARCHAR(50) NOT NULL,
    vendor_id VARCHAR(50) NOT NULL,
    supply_frequency VARCHAR(50),
    PRIMARY KEY (product_id, vendor_id),
    FOREIGN KEY (product_id) REFERENCES product(product_id) ON DELETE CASCADE,
    FOREIGN KEY (vendor_id) REFERENCES vendor(vendor_id) ON DELETE CASCADE
);

-- 12. Operating_Costs Table
CREATE TABLE IF NOT EXISTS operating_costs (
    operating_id VARCHAR(50) PRIMARY KEY,
    store_id VARCHAR(50) NOT NULL,
    expense_date DATE,
    expense_category VARCHAR(50),
    amount DECIMAL(10, 2) NOT NULL,
    FOREIGN KEY (store_id) REFERENCES store(store_id) ON DELETE CASCADE
);

-- 13. Customer_Transactions Table
CREATE TABLE IF NOT EXISTS customer_transactions (
    transaction_id VARCHAR(50) PRIMARY KEY,
    store_id VARCHAR(5) NOT NULL,
    customer_id VARCHAR(50),
    transaction_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (store_id) REFERENCES store(store_id) ON DELETE CASCADE,
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id) ON DELETE SET NULL
);

-- 14. Payment Table
CREATE TABLE IF NOT EXISTS payment (
    transaction_id VARCHAR(50) NOT NULL,
    payment_method VARCHAR(50) NOT NULL,
    payment_amount DECIMAL(10, 2) NOT NULL,
    payment_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (transaction_id),
    FOREIGN KEY (transaction_id) REFERENCES customer_transactions(transaction_id) ON DELETE CASCADE
);

-- 15. Transaction_Details Table
CREATE TABLE IF NOT EXISTS transaction_details (
    transaction_id VARCHAR(50) NOT NULL,
    product_id VARCHAR(50) NOT NULL,
    quantity INT,
    PRIMARY KEY (transaction_id, product_id),
    FOREIGN KEY (transaction_id) REFERENCES customer_transactions(transaction_id) ON DELETE CASCADE,
    FOREIGN KEY (product_id) REFERENCES product(product_id) ON DELETE SET NULL
);

-- 16. Customer_Feedback Table
CREATE TABLE IF NOT EXISTS customer_feedback (
    customer_id VARCHAR(50) NOT NULL,
    transaction_id VARCHAR(50),
    feedback TEXT,
    rating DECIMAL(3, 2) CHECK (rating BETWEEN 0 AND 5),
    PRIMARY KEY (transaction_id, customer_id),
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id) ON DELETE CASCADE,
    FOREIGN KEY (transaction_id) REFERENCES customer_transactions(transaction_id) ON DELETE SET NULL
);
"""

# Connect to the database and create tables
try:
    conn = psycopg2.connect(**db_config)
    cursor = conn.cursor()
    cursor.execute(create_tables_sql)
    conn.commit()
    print("All tables created successfully!")
except Exception as e:
    print("An error occurred:", e)
finally:
    if cursor:
        cursor.close()
    if conn:
        conn.close()

All tables created successfully!

# Extract, Transform and Load (ETL)
#### Data Manipulation 1 - Store Table
Create store and operating_costs two data frames includes most of the values

In [2]:
import pandas as pd
from sqlalchemy import create_engine

# Pass the connection string to a variable, conn_url
con_url = 'postgresql://postgres:123@localhost/5310_data'
engine = create_engine(con_url)
connection = engine.connect()

In [4]:
df1 = pd.read_csv('/Users/godu/Desktop/Èº†üê≠/Âì•Â§ß/5310 SQL/Group_project/All_Store.csv')

In [5]:
# Create a mapping of store_name to store_id
# Create a DataFrame with unique store names and their store_id
store_df = pd.DataFrame(df1.store_name.unique(), columns=['store_name'])

letter_mapping = {chr(i): i - 64 for i in range(65, 91)}

# Extract the last letter from store_name and map it to the corresponding number
store_df['store_id'] = store_df['store_name'].str.extract(r'([A-Z])$')[0].map(letter_mapping)

# Merge the store_id back into df1
df1 = df1.merge(store_df, on='store_name', how='left')

# Display the updated df1
print(df1.head(10))

  expense_date      store_name                       address      city state  \
0    2022/4/29  ABC FoodMart B        456 Elm Street, Queens  New York    NY
1     2023/5/3  ABC FoodMart B        456 Elm Street, Queens  New York    NY
2    2023/8/19  ABC FoodMart C      101 Cedar Road, Brooklyn  New York    NY
3    2024/7/25  ABC FoodMart A      123 Maple Avenue, Queens  New York    NY
4    2022/1/21  ABC FoodMart D  789 Pine Boulevard, Brooklyn  New York    NY
5   2023/11/12  ABC FoodMart C      101 Cedar Road, Brooklyn  New York    NY
6    2024/6/15  ABC FoodMart C      101 Cedar Road, Brooklyn  New York    NY
7   2023/10/27  ABC FoodMart D  789 Pine Boulevard, Brooklyn  New York    NY
8    2024/7/11  ABC FoodMart A      123 Maple Avenue, Queens  New York    NY
9    2024/7/22  ABC FoodMart B        456 Elm Street, Queens  New York    NY

   phone_number                   email expense_category   amount  store_id
0  881-729-5270  ABCFoodMartB@gmail.com             Rent  3729.39         2
1  881-729-5270  ABCFoodMartB@gmail.com      Maintenance  2210.33         2
2  881-751-7981  ABCFoodMartC@gmail.com             Rent  3208.38         3
3  664-713-7151  ABCFoodMartA@gmail.com      Maintenance  1135.39         1
4  881-729-5272  ABCFoodMartD@gmail.com        Utilities   904.52         4
5  881-751-7981  ABCFoodMartC@gmail.com        Utilities   684.24         3
6  881-751-7981  ABCFoodMartC@gmail.com      Maintenance  1970.85         3
7  881-729-5272  ABCFoodMartD@gmail.com      Advertising  1206.55         4
8  664-713-7151  ABCFoodMartA@gmail.com        Utilities   856.41         1
9  881-729-5270  ABCFoodMartB@gmail.com      Maintenance  1080.97         2

In [6]:
#Insert to store table
# Ensure 'store_id', 'store_name', 'address', 'city', 'state', 'phone_number', 'email' columns exist
# Drop duplicates based on 'store_id' to get unique store information
tem_store_df = df1[['store_id', 'store_name', 'address', 'city', 'state', 'phone_number', 'email']].drop_duplicates()

# Sort by 'store_id'
tem_store_df = tem_store_df.sort_values(by='store_id').reset_index(drop=True)

# Display the result
print(tem_store_df.head())
tem_store_df.to_sql(name='store', con=engine, if_exists='append', index=False)

   store_id      store_name                       address      city state  \
0         1  ABC FoodMart A      123 Maple Avenue, Queens  New York    NY
1         2  ABC FoodMart B        456 Elm Street, Queens  New York    NY
2         3  ABC FoodMart C      101 Cedar Road, Brooklyn  New York    NY
3         4  ABC FoodMart D  789 Pine Boulevard, Brooklyn  New York    NY
4         5  ABC FoodMart E        202 Oak Lane, Brooklyn  New York    NY

   phone_number                   email
0  664-713-7151  ABCFoodMartA@gmail.com
1  881-729-5270  ABCFoodMartB@gmail.com
2  881-751-7981  ABCFoodMartC@gmail.com
3  881-729-5272  ABCFoodMartD@gmail.com
4  881-729-5273  ABCFoodMartE@gmail.com

5

In [7]:
# Create opr_cost_df with the selected columns
opr_cost_df = df1[['store_id', 'expense_date', 'expense_category', 'amount']]

# Add Operating_id column with values starting from O1
opr_cost_df.insert(0, 'operating_id', ['O' + str(i) for i in range(1, len(opr_cost_df) + 1)])

# Display the result
print(opr_cost_df.head())
opr_cost_df.to_sql(name='operating_costs', con=engine, if_exists='append', index=False)

  operating_id  store_id expense_date expense_category   amount
0           O1         2    2022/4/29             Rent  3729.39
1           O2         2     2023/5/3      Maintenance  2210.33
2           O3         3    2023/8/19             Rent  3208.38
3           O4         1    2024/7/25      Maintenance  1135.39
4           O5         4    2022/1/21        Utilities   904.52

1000

#### Data Manipulation 2 - ALL_Product Table
#### Create product, category, vendor, product_vendor four data frames includes most of the values

In [8]:
df2 = pd.read_csv('/Users/godu/Desktop/Èº†üê≠/Âì•Â§ß/5310 SQL/Group_project/ALL_Products.csv')

In [9]:
#Insert into product table
# Add `product_id` column based on unique `product_name`
product_mapping = {name: f'P{i+1}' for i, name in enumerate(df2['product_name'].unique())}
df2['product_id'] = df2['product_name'].map(product_mapping)

#  Add `category_id` column based on unique `Category`
category_mapping = {name: f'CE{i+1}' for i, name in enumerate(df2['Category'].unique())}
df2['category_id'] = df2['Category'].map(category_mapping)

# Add `vendor_id` column based on unique `vendor_name`
vendor_mapping = {name: f'V{i+1}' for i, name in enumerate(df2['vendor_name'].unique())}
df2['vendor_id'] = df2['vendor_name'].map(vendor_mapping)

# Display the first few rows of the updated DataFrame
print(df2.head())

                                        product_name  \
0  David‚Äôs Cookies Mile High Peanut Butter Cake, ...
1  The Cake Bake Shop 8" Round Carrot Cake (16-22...
2  St Michel Madeleine, Classic French Sponge Cak...
3  David's Cookies Butter Pecan Meltaways 32 oz, ...
4  David‚Äôs Cookies Premier Chocolate Cake, 7.2 lb...

                                         description unit_price  \
0  A cake the dessert epicure will die for!Our To...      56.99
1  Due to the perishable nature of this item, ord...     159.99
2  Moist and buttery sponge cakes with the tradit...      44.99
3  These delectable butter pecan meltaways are th...      39.99
4  A cake the dessert epicure will die for!To the...      59.99

            Category                 vendor_name                contact_info  \
0  Bakery & Desserts  Dairy Delight Distributors    dairydelight@example.com
1  Bakery & Desserts           Global Foods Ltd.     globalfoods@example.com
2  Bakery & Desserts           Refreshment Depot     refreshment@example.com
3  Bakery & Desserts         Fresh Catch Seafood      freshcatch@example.com
4  Bakery & Desserts        Organic Grocers Ltd.  organicgrocers@example.com

                            address supply_frequency product_id category_id  \
0         456 Milk Rd, Brooklyn, NY        Quarterly         P1         CE1
1     123 Supply Blvd, Brooklyn, NY          Monthly         P2         CE1
2        456 Chill Ln, Brooklyn, NY        Quarterly         P3         CE1
3       789 Fisherman Rd, Bronx, NY        On-Demand         P4         CE1
4  345 Fresh Ave, Staten Island, NY            Daily         P5         CE1

  vendor_id
0        V1
1        V2
2        V3
3        V4
4        V5

In [10]:
# Clean the `unit_price` column
df2['unit_price'] = df2['unit_price'].replace({',': ''}, regex=True).astype(float)


# Insert cleaned data into the product database
df2[['product_id', 'category_id', 'product_name', 'unit_price', 'description']].to_sql(
    'product', engine, if_exists='append', index=False
)

483

In [11]:
#Insert into category table
category_df = df2[['category_id', 'Category']].drop_duplicates().rename(columns={'Category': 'category_name'})

category_df.to_sql('category', engine, if_exists='append', index=False)

16

In [13]:
#Insert into vendor table
vendor_df = df2[['vendor_id', 'vendor_name',"contact_info","address"]].drop_duplicates().rename(columns={'vendor_name': 'name'})

vendor_df.to_sql('vendor', engine, if_exists='append', index=False)

30

In [14]:
#Insert into product_vendor table
product_vendor = df2[['product_id','vendor_id', "supply_frequency"]].drop_duplicates()

product_vendor.to_sql('product_vendor', engine, if_exists='append', index=False)

483

#### Data Manipulation 3 - ALL_Employee Table
#### Create employee, employee_detail, management three data frames includes most of the values

In [16]:
df3 = pd.read_csv('/Users/godu/Desktop/Èº†üê≠/Âì•Â§ß/5310 SQL/Group_project/All_Employee.csv')

In [20]:
#Insert into employee table
# Ensure 'employee_id', 'first_name', 'last_name', 'position', 'date_hired', 'address', 'contact_number', 'employment_status' columns exist
# Drop duplicates based on 'employee_id' to get unique employee information

temp_employee_df = df3[['employee_id', 'first_name', 'last_name', 'position', 
                        'date_hired', 'address', 'contact_number', 'employment_status']].drop_duplicates()

# Extract the numeric part of 'employee_id' for sorting
temp_employee_df['id_number'] = temp_employee_df['employee_id'].str.extract('(\d+)', expand=False).astype(int)

# Sort by the extracted numeric part of 'employee_id'
temp_employee_df = temp_employee_df.sort_values(by='id_number').drop(columns=['id_number']).reset_index(drop=True)

# Display the first few rows to verify the results
print(temp_employee_df.head())


temp_employee_df.to_sql(name='employee', con=engine, if_exists='append', index=False)

  employee_id first_name last_name       position date_hired  \
0          E1    Brandon    Martin  Store Manager   2013/8/7
1          E2     Monica     Garza  Store Manager  2016/12/5
2          E3       Gina    Bailey  Store Manager  2013/10/1
3          E4    Anthony     Hicks  Store Manager  2015/3/10
4          E5      Renee     Chang  Store Manager   2019/2/5

                                             address contact_number  \
0                  Unit 8989 Box 4169\n DPO AA 59272  (312)555-0184
1          36921 Benson Pike\n Amandamouth, PA 69214  (570)841-6515
2       35455 Sarah Lakes\n Griffinchester, UT 68291  (810)706-7631
3  58959 William Knoll Suite 738\n Kathleenshire,...  (608)818-6555
4  869 Michael Brooks Apt. 369\n East Michaelfort...  (617)798-5530

  employment_status
0          On Leave
1            Active
2            Active
3            Active
4            Active

25

In [24]:
#insert into employee_detail
# Create a mapping between store_name and store_id from df1
store_mapping = df1.set_index('store_name')['store_id'].to_dict()

# Ensure 'employee_id', 'salary', 'shift_type', and 'store_id' columns exist
# Map store_name to store_id using the mapping
temp_employee_detail_df = df3[['employee_id', 'salary', 'shift_type', 'store_name']].drop_duplicates()
temp_employee_detail_df['store_id'] = temp_employee_detail_df['store_name'].map(store_mapping)

# Remove the original 'store_name' column as it is no longer needed
temp_employee_detail_df = temp_employee_detail_df.drop(columns=['store_name'])

# Extract numeric part of employee_id for sorting
temp_employee_detail_df['employee_id_numeric'] = temp_employee_detail_df['employee_id'].str.extract(r'(\d+)$').astype(int)

# Sort by the numeric part of employee_id
temp_employee_detail_df = temp_employee_detail_df.sort_values(by='employee_id_numeric').reset_index(drop=True)

temp_employee_detail_df = temp_employee_detail_df.drop(columns=['employee_id_numeric'])

print(temp_employee_detail_df.head())

temp_employee_detail_df.to_sql(name='employee_detail', con=engine, if_exists='append', index=False)

  employee_id  salary shift_type  store_id
0          E1   89000    Daytime         1
1          E2   89000    Daytime         2
2          E3   89000    Daytime         3
3          E4   89000    Daytime         4
4          E5   89000    Daytime         5

25

In [27]:
#insert into management table
# Create a mapping between store_name and store_id from df1
store_mapping = df1.set_index('store_name')['store_id'].to_dict()

# Initialize an empty DataFrame for the management table
manager_table = pd.DataFrame(columns=['manager_id', 'managing', 'store_id'])

# Iterate through the rows of the DataFrame
for _, row in df3.iterrows():
    # Check if 'management' is a valid string before splitting
    if isinstance(row['management'], str):
        manager_ids = row['management'].split(',')
        for manager_id in manager_ids:
            # Append data to the manager_table DataFrame
            manager_table = pd.concat([manager_table, pd.DataFrame({
                'manager_id': [row['employee_id']],  # Now `employee_id` is the manager
                'managing': [manager_id],           # `manager_id` becomes the managed employee
                'store_id': [store_mapping.get(row['store_name'], None)]  # Map store_name to store_id
            })], ignore_index=True)

# Drop rows with missing store_id
manager_table = manager_table.dropna(subset=['store_id'])

# Display the first few rows of the manager_table
print(manager_table.head())
manager_table.to_sql(name='management', con=engine, if_exists='append', index=False)

  manager_id managing store_id
0         E1       E6        1
1         E1      E11        1
2         E1      E16        1
3         E1      E21        1
4         E2       E7        2

20

#### Data Manipulation 4 - ALL_Product_stock Table
#### Create product_stock data frames includes most of the values

In [56]:
# insert into product_stock
df4 = pd.read_csv('/Users/godu/Desktop/Èº†üê≠/Âì•Â§ß/5310 SQL/Group_project/ALL_Product_stock.csv')

In [57]:
# Map store_name to store_id using df1
store_mapping = df1.set_index('store_name')['store_id'].to_dict()

# Map product_name to product_id using df3
product_mapping = df2.set_index('product_name')['product_id'].to_dict()


# Create stock_id with 'S1', 'S2', 'S3' format
df4.insert(0, 'stock_id', [f'S{i+1}' for i in range(len(df4))])

# Map store_name to store_id
df4['store_id'] = df4['store_name'].map(store_mapping)

# Map product_name to product_id
df4['product_id'] = df4['product_name'].map(product_mapping)

df4 = df4[['stock_id', 'store_id', 'product_id', 'quantity', 'last_stocked_date']]

print(df4.head())

  stock_id  store_id product_id  quantity last_stocked_date
0       S1         1         P1       247         5/22/2023
1       S2         2         P1       920          7/8/2023
2       S3         3         P1       696         8/30/2023
3       S4         4         P1       772        11/12/2024
4       S5         5         P1       980         7/16/2023

In [59]:
df4.to_sql(name='product_stock', con=engine, if_exists='append', index=False)

575

#### Data Manipulation 5 - ALL_Customer Table
#### Create customer, loyalty_program two data frames includes most of the values

In [32]:
# insert into customer
# Read data
df5 = pd.read_csv('/Users/godu/Desktop/Èº†üê≠/Âì•Â§ß/5310 SQL/Group_project/ALL_Customer.csv')

# Define the columns to include in the customer table (customer_id as the first column)
customer_columns = ['customer_id', 'first_name', 'last_name', 'phone_number', 'email', 'date_of_birth', 'address', 'city', 'state', 'zip_code']

# Rename 'zipcode' to 'zip_code' in the DataFrame
df5 = df5.rename(columns={'zipcode': 'zip_code'})

# Add the customer_id column with 'C1', 'C2', 'C3' format
df5.insert(0, 'customer_id', [f'C{i+1}' for i in range(len(df5))])

# Extract only the relevant columns in the desired order
customer_df = df5[customer_columns]

# Display the first few rows of the resulting DataFrame
print(customer_df.head())

# Insert the data into the customer table in the database
customer_df.to_sql(name='customer', con=engine, if_exists='append', index=False)

  customer_id first_name last_name    phone_number  \
0          C1      Uriah   Bridges  (401) 552-4059
1          C2      Paula     Small  (688) 210-1295
2          C3     Edward      Buck  (434) 593-6233
3          C4    Michael   Riordan  (517) 270-8979
4          C5    Jasmine     Onque  (214) 940-9676

                         email date_of_birth           address         city  \
0    uriah.bridges@example.com     1977/10/1  8413 Madison Ave     New York
1      paula.small@example.com      1969/7/5     5064 Broadway  Jersey City
2      edward.buck@example.com     2000/3/26      8055 Main St     New York
3  michael.riordan@example.com      1981/2/8      2880 Main St     New York
4    jasmine.onque@example.com     1961/4/10     9447 Broadway     New York

        state  zip_code
0    New York     10005
1  New Jersey      7004
2    New York     10004
3    New York     10003
4    New York     10005

753

In [38]:
# insert into loyalty_program
# Define the columns for the loyalty program table
loyalty_program_columns = ['membership_startdate', 'total_points', 'membership_tier']
loyalty_program_df = df5[loyalty_program_columns]

# Map customer_id from the customer_df using customer_id as the unique key
# Ensure customer_df contains customer_id and the required columns for mapping
customer_mapping = customer_df.set_index('email')['customer_id'].to_dict()  # Use email as the unique key for mapping

# Add the customer_id column to the loyalty_program_df using the mapping
loyalty_program_df.loc[:, 'customer_id'] = df5['email'].map(customer_mapping)

# Drop rows with missing customer_id (if email does not match)
loyalty_program_df = loyalty_program_df.dropna(subset=['customer_id'])

# Reorder columns to match the loyalty_program table structure
loyalty_program_df = loyalty_program_df[['customer_id', 'membership_startdate', 'total_points', 'membership_tier']]

# Display the first few rows of the resulting DataFrame
print(loyalty_program_df.head())

# Insert the data into the loyalty_program table in the database
loyalty_program_df.to_sql(name='loyalty_program', con=engine, if_exists='append', index=False)

  customer_id membership_startdate  total_points membership_tier
0          C1           2006/12/17          1251          Silver
1          C2           2007/11/20           523          Bronze
2          C3            2006/3/13          1702          Silver
3          C4            2019/9/28          6521            Gold
4          C5            2014/5/12           686          Bronze

/var/folders/qp/swc62db92qj289rw105xwzf40000gn/T/ipykernel_63208/1855516383.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loyalty_program_df.loc[:, 'customer_id'] = df5['email'].map(customer_mapping)

753

#### Data Manipulation 6 - ALL_Transaction Table
#### Create customer_transaction, Transaction_Details,payment,customer_feedback four data frames includes most of the values

In [66]:
# insert into customer_transactions
# Read data
df6 = pd.read_csv('/Users/godu/Desktop/Èº†üê≠/Âì•Â§ß/5310 SQL/Group_project/All_Transactions.csv')

In [62]:
# Map store_name to store_id using df1
store_mapping = df1.set_index('store_name')['store_id'].to_dict()

# Map phone_number to customer_id using df5
customer_mapping = df5.set_index('phone_number')['customer_id'].to_dict()


# Map store_name to store_id
df6['store_id'] = df6['store_name'].map(store_mapping)

# Map phone_number to customer_id
df6['customer_id'] = df6['phone_number'].map(customer_mapping)

# Drop rows with missing store_id or customer_id
df6 = df6.dropna(subset=['store_id', 'customer_id'])

df6 = df6.drop_duplicates(subset=['transaction_id'])

df6_cleaned = df6[['transaction_id', 'store_id', 'customer_id', 'transaction_date']]

print(df6_cleaned.head())
df6_cleaned.to_sql(name='customer_transactions', con=engine, if_exists='append', index=False)

    transaction_id  store_id customer_id transaction_date
0        123002578         2       C1010         2023/3/8
4        123004074         2        C485        2023/6/11
10       123000871         5       C1635         2023/7/7
19       123002851         1        C752        2023/1/20
27       123003607         3       C1541       2023/11/17

382

In [78]:
# insert into transaction_details 
df6 = pd.read_csv('/Users/godu/Desktop/Èº†üê≠/Âì•Â§ß/5310 SQL/Group_project/All_Transactions.csv')

# Map product_name to product_id using df2
product_mapping = df2.set_index('product_name')['product_id'].to_dict()

# Map product_name to product_id in df6
df6['product_id'] = df6['product_name'].map(product_mapping)

# Drop rows with missing product_id
df6 = df6.dropna(subset=['product_id'])

# Keep only the necessary columns
transaction_details_df = df6[['transaction_id', 'product_id', 'quantity']]

# Sort the data by transaction_id and product_id to organize the table
transaction_details_df = transaction_details_df.sort_values(by=['transaction_id', 'product_id']).reset_index(drop=True)

# Ensure no duplicates in transaction_id and product_id pairs (use for validation, optional)
duplicate_check = transaction_details_df.duplicated(subset=['transaction_id', 'product_id'], keep=False)
if duplicate_check.any():
    print("Warning: Duplicates detected in transaction_id and product_id pairs!")

print(transaction_details_df.head(20))

    transaction_id product_id  quantity
0        123000012       P112         2
1        123000012       P125         3
2        123000012        P74         2
3        123000012       P885         2
4        123000012       P911         2
5        123000012        P98         2
6        123000064      P1276         2
7        123000064       P205         2
8        123000064       P291         3
9        123000064        P42         3
10       123000064       P662         1
11       123000064       P666         2
12       123000121         P1         2
13       123000121       P205         2
14       123000121       P499         3
15       123000121       P510         2
16       123000121       P522         2
17       123000121       P832         2
18       123000121       P907         1
19       123000121       P948         3

In [79]:
transaction_details_df.to_sql(name='transaction_details', con=engine, if_exists='append', index=False)

684

In [83]:
# insert into customer_feedback
# Merge df6 with customer_transactions_df on transaction_id to get customer_id
merged_df = pd.merge(df6, df6_cleaned[['transaction_id', 'customer_id']],
                     on='transaction_id', how='left')

# Select and reorder the necessary columns
customer_feedback_df = merged_df[['customer_id', 'transaction_id', 'feedback', 'rating']]

# Remove duplicate transaction_id, keeping only the first occurrence
customer_feedback_df = customer_feedback_df.drop_duplicates(subset=['transaction_id'], keep='first').reset_index(drop=True)

print(customer_feedback_df.head())
customer_feedback_df.to_sql(name='customer_feedback', con=engine, if_exists='append', index=False)

  customer_id  transaction_id  \
0       C1010       123002578
1        C485       123004074
2       C1635       123000871
3        C752       123002851
4       C1541       123003607

                                           feedback  rating
0             Quick delivery and fantastic service.       4
1                 Very disappointing, poor quality.       1
2           It's okay, not bad but nothing special.       3
3            Excellent product, highly recommended!       4
4  Great quality, very satisfied with the purchase.       5

382

In [84]:
# insert into payment

df6['unit_price'] = df6['unit_price'].astype(float)

# Calculate payment amount for each transaction_id
payment_df = (
    df6.assign(payment_amount=df6['unit_price'] * df6['quantity'])  # Calculate unit_price * quantity
    .groupby('transaction_id', as_index=False)  # Group by transaction_id
    .agg({
        'payment_amount': 'sum',  # Sum the payment amounts for each transaction_id
        'payment_date': 'first',  # Keep the first payment_date for each transaction_id
        'payment_method': 'first'  # Keep the first payment_method for each transaction_id
    })
)

# Ensure payment_amount is rounded to 2 decimal places
payment_df['payment_amount'] = payment_df['payment_amount'].round(2)

# Display the resulting DataFrame
print(payment_df.head())

   transaction_id  payment_amount      payment_date  payment_method
0       123000012         1215.87    2023/6/11 4:52  Mobile Payment
1       123000064          474.87    2023/9/17 0:01  Mobile Payment
2       123000121         2032.23  2023/12/25 16:16  Digital Wallet
3       123000136           55.97   2023/7/23 15:49     Credit Card
4       123000161          982.86  2023/11/27 21:38  Mobile Payment

In [85]:
payment_df.to_sql(name='payment', con=engine, if_exists='append', index=False)

382